<%= form_with(model: cliente, local: true) do |form| %>

  <% if cliente.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <div class="alert alert-error"><%= message %></div>
      <% end %>
      </ul>
    </div>

  <% end %>
 <div class="leftcontact">

<%= form.fields_for(:cliente_f) do |fe|%>

  <div class="form-group">
    <%= fe.label "Nome" %>
    <%= fe.text_field :nome, id: :cliente_f_nome %>
  </div>

  <div class="form-group">
    <%= fe.label :sobrenome %>
    <%= fe.text_field :sobrenome, id: :cliente_sobrenome %>
  </div>

  <div class="form-group">
    <label>CPF</label>
    <%= fe.text_field :cpf, id: :cliente_cpf %>
  </div>

  <div class="form-group">
    <label>RG</label>
    <%= fe.text_field :rg, id: :cliente_rg %>
  </div>

  <div class="form-group form-inline">
    <%= fe.label :M %>
    <%= fe.radio_button :sexo, 'M'%>
    <p>    </p>
    <%= fe.label :F %>
    <%= fe.radio_button :sexo, 'F'%>

  </div>

  <div class="form-group">
    <%= fe.label "Ofício" %>
    <%= fe.text_field :oficio, id: :cliente_oficio %>
  </div>
 
  <%end%>

  <div class="form-group">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, id: :cliente_telefone %>
  </div>

  <div class="form-group">
    <%= form.label :celular %>
    <%= form.text_field :celular, id: :cliente_celular %>
  </div>

  <div class="form-group">
    <%= form.label :comercial %>
    <%= form.text_field :comercial, id: :cliente_comercial %>
  </div>

  <div class="form-group">
    <%= form.label "E-mail" %>
    <%= form.text_field :email, id: :cliente_email %>
  </div>

  <div class="form-group">
    <label>Observações</label>
    <%= form.text_field :observacoes, id: :cliente_observacoes %>
  </div>

  <div class="form-group">
    <label>CEP</label>
    <%= form.text_field :cep, id: :endereco_cep %>
  </div>

  <div class="form-group">
    <%= form.label :rua %>
    <%= form.text_field :rua, id: :endereco_rua %>
  </div>
  
  <div class="form-group">
    <%= form.label :número %>
    <%= form.text_field :numero, id: :endereco_numero %>
  </div>

  <div class="form-group">
    <%= form.label :bairro %>
    <%= form.text_field :bairro, id: :endereco_bairro %>
  </div>

  <div class="form-group">
    <%= form.label :cidade %>
    <%= form.text_field :cidade, id: :endereco_cidade %>
  </div>

  <div class="form-group">
    <label>UF</label>
    <%= form.text_field :uf, id: :endereco_uf %>
  </div>


  <div class="form-group">
    <%= form.label :complemento %>
    <%= form.text_field :complemento, id: :endereco_complemento %>
  </div>


  </div>

  <div class="rightcontact">
    <%= form.fields_for(:veiculo) do |ff|%>

    <div class="field">
    <%= ff.label :placa %>
    <%= ff.text_field :placa, id: :veiculo_placa %>
  </div>

  <div class="field">
    <%= ff.label :marca %>
<%= ff.select(:marca, ['Acura','Agrale','Alfa Romeo','AM Gen','Asia Motors','ASTON MARTIN','Audi','BMW','BRM','Buggy','Bugre','Cadillac','CBT Jipe','CHANA','CHANGAN','CHERY','Chrysler','Citroen','Cross Lander','Daewoo','Daihatsu','Dodge','EFFA','Engesa','Envemo','Ferrari','Fiat','Fibravan','Ford','FOTON','Fyber','GEELY','GM - Chevrolet','GREAT WALL','Gurgel','HAFEI','Honda','Hyundai','Isuzu','JAC','Jaguar','Jeep','JINBEI','JPX','Kia Motors','Lada','LAMBORGHINI','Land Rover','Lexus','LIFAN','LOBINI','Lotus','Mahindra','Maserati','Matra','Mazda','Mercedes-Benz','Mercury','MG','MINI','Mitsubishi','Miura','Nissan','Peugeot','Plymouth','Pontiac','Porsche','RAM','RELY','Renault','Rolls-Royce','Rover','Saab','Saturn','Seat','SHINERAY','smart','SSANGYONG','Subaru','Suzuki','TAC', 'Toyota','Troller','Volvo','VW - VolksWagen','Dafra','Honda','Kawasaki']) %>  
</div>

  <div class="field">
    <%= ff.label :modelo %>
    <%= ff.text_field :modelo, id: :veiculo_modelo %>
  </div>

  <div class="field">
    <%= ff.label :ano %>
    <%= ff.text_field :ano, id: :veiculo_ano %>
  </div>

  <div class="field">
    <%= ff.label :cor %>
    <%= ff.text_field :cor, id: :veiculo_cor %>
  </div>

    <%end%>

    <div class="form-inline">
    <input type="checkbox" id="orc_check" value="yes" onchange="muda(this, 'quilometragem');">
  Selecione para criar orçamento
  </div>
  </br>

  <div class="field">
    <%= label_tag :quilometragem %>
    <%= text_field_tag :quilometragem,"",disabled: true %>
  </div>

  <div class="field">
    <%= form.label :Status %>
    <%= select(:orcamento, :status,[ '1. Análise','2. Aguardando Cotação','3. Aguardando Aprovação', '4. Reprovado', '5. Aprovado', '6. Aguardando Fornecedor','7. Em manutenção', '8. Teste', '9. Finalizado', '10. Aguardando Pagamento'])%>
  </div>

 <div class="field">
    <%= label_tag :ocorrência %>
    <%= text_area_tag :ocorrencia, nil, rows: 10, cols: 25 %>
  </div>

  <div class="actions">
    <%= form.submit "Cadastrar" %>
  </div>
</div>


<% end %>
