<div class="span16">

<%= link_to 'Novo Cliente Físico', new_cliente_path, class: "btn btn-primary" %>

<%= link_to 'Novo Cliente Jurídico', new_clientej_path, class: "btn btn-primary" %>

<br>
<p id="notice"><%= notice %></p>
<div class="box pattern pattern-sandstone">

    <div class="box-header">
       <i class="icon-table"></i>
        <h5>
        Clientes
        </h5>
    </div>

    <div class="box-content">
    <div class="row">
    <div class="span15">
<%= form_tag(pega_cliente_path, method: :get, :remote => true) do %>
          <div class="form-inline">
          <%= select(:cli, :selec, [ 'Nome','Razão Social']) %> 
          <%= label_tag :nome %>
          <%= text_field_tag :nome_c %>
          <%= submit_tag "Encontrar"%>
          </div>
          <% end %>
<table id="cliente">
  <thead>
    <tr>
      <th class="span3">Nome</th>
      <th class="span3">Telefone</th>
      <th class="span3">Celular</th>
      <th class="span3">E-mail</th>
      <th class="span3">Observações</th>
      <th class="span3"></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div>
</div>
</div>
</div>
</div>