<div class="span16">
<p id="notice"><%= notice %></p>

<% if @cliente.cliente_f != nil %>

<p>
  <strong>Nome:</strong>
  <%= @cliente.cliente_f.nome %> <%=@cliente.cliente_f.sobrenome%>
</p>

<p>
  <strong>CPF:</strong>
  <%= @cliente.cliente_f.cpf %>
</p>

<p>
  <strong>RG:</strong>
  <%= @cliente.cliente_f.rg %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @cliente.cliente_f.sexo %>
</p>


<p>
  <strong>Oficio:</strong>
  <%= @cliente.cliente_f.oficio %>
</p>


  <%else%>
<p>
  <strong>Razão Social:</strong>
  <%= @cliente.cliente_j.razao_social %>
</p>

<p>
  <strong>Nome Fantasia:</strong>
  <%= @cliente.cliente_j.nome_fantasia %>
</p>

<p>
  <strong>Representante:</strong>
  <%= @cliente.cliente_j.representante %>
</p>

<p>
  <strong>CNPJ:</strong>
  <%= @cliente.cliente_j.cnpj %>
</p>

  <%end%>


<p>
  <strong>Rua:</strong>
  <%= @cliente.rua %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @cliente.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @cliente.cidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @cliente.uf %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @cliente.cep %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cliente.telefone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @cliente.celular %>
</p>

<p>
  <strong>Comercial:</strong>
  <%= @cliente.comercial %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Observacoes:</strong>
  <%= @cliente.observacoes %>
</p>
</div>