<div class="span16" id="dash">

<%= pie_chart Orcamento.where("status != " "'9. Finalizado'").group(:status).count, id: "pie_status", legend: "left"%>
</br>
</br>


	<div class="box pattern pattern-sandstone">

    <div class="box-header">
       <i class="icon-table"></i>
        <h5>
        Orçamentos
        </h5>
    </div>

    <div class="box-content">
    <div class="row">

      <div class="span15">
         <%= form_tag(pega_orc_status_path, method: :get, :remote => true) do %>
          <div class="form-inline">
          <%= label_tag :status %>
          <%= select(:orcamento, :status, [ '1. Análise','2. Aguardando Cotação','3. Aguardando Aprovação', '4. Reprovado', '5. Aprovado', '6. Aguardando Fornecedor','7. Em manutenção', '8. Teste', '9. Finalizado', '10. Aguardando Pagamento'], {include_blank: true}) %>


          <%= submit_tag "Encontrar"%>
          </div>
    <% end %>
<table id="table_dash">
  <thead>
    <tr>
      <th class="span2", onclick="sortTable(0)">Status</th>
      <th class="span3">Cliente</th>
      <th class="span2">Veículo</th>
      <th class="span3">Placa</th>
      <th class="span3">Quilometragem</th>
      <th class="span4"></th>
    </tr>
  </thead>

  <tbody>
	<% @orc.each do |orcamento| %>
	      <tr>
	        <td class="span2"><%= orcamento.status %></td>
	        <td class="span3"><%= orcamento.cliente.cliente_f.nome %></td>
	        <td class="span2"><%= orcamento.veiculo.marca %></td>
	        <td class="span3"><%= orcamento.veiculo.placa %></td>
	        <td class="span3"><%= orcamento.quilometragem %></td>
	        <td class="span4">
	        <div class="btn-group">
	        <button class="btn ">Funçoes</button>
	        <button class="btn dropdown-toggle" data-toggle="dropdown">
	        <span class="caret"></span>
	        </button>
	        <ul class="dropdown-menu">

	        <%= link_to 'Relacionar Peças', orcamento %>
	        <%= link_to 'Deletar', orcamento, method: :delete, data: { confirm: 'Are you sure?' } %>
	        <%= link_to 'Imprimiir', report_orc_path(orcamento, :format => 'pdf'), :target => '_blank' %>
	        <%= link_to 'Trocar Status', status_orcamento_js_path(orcamento), :remote => true %>
	        </ul>
	      </div>
	        </td>

	      </tr>
	     <% end %>
  </tbody>
</table>

</div><!-- Fecha span14-->
</div><!-- Fecha row-->
</div><!-- Fecha box content-->
</div><!-- Fecha box-->


</div>
