<div class="span16">

<%= pie_chart Orcamento.where("status != " "'9. Finalizado'").group(:status).count, id: "pie_status" ,legend: "left"%>
</br>
</br>


	<div class="box pattern pattern-sandstone">

    <div class="box-header">
       <i class="icon-table"></i>
        <h5>
        Orçamentos
        </h5>
    </div>

    <div class="box-content">
    <div class="row">
 
      <div class="span15">
         <%= form_tag(pega_orc_status_path, method: :get, :remote => true) do %>
          <div class="form-inline"> 
          <%= label_tag :status %>
          <%= select(:orcamento, :status, [ '1. Análise','2. Aguardando Cotação','3. Aguardando Aprovação', '4. Reprovado', '5. Aprovado', '6. Aguardando Fornecedor','7. Em manutenção', '8. Teste', '9. Finalizado', '10. Aguardando Pagamento'], {include_blank: true}) %>


          <%= submit_tag "Encontrar"%>
          </div>
    <% end %>
<table id="table_dash">
  <thead>
    <tr>
      <th class="span2", onclick="sortTable(0)">Status</th>
      <th class="span3">Cliente</th>
      <th class="span2">Veículo</th>
      <th class="span3">Placa</th>
      <th class="span3">Quilometragem</th>
      <th class="span4"></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

</div><!-- Fecha span14-->
</div><!-- Fecha row-->
</div><!-- Fecha box content-->
</div><!-- Fecha box-->


</div>
