<div id="modalPeca" class="modal hide fade modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Relacionar Peças</h3>
  </div>
  <div class="modal-body">
<% if logged_in? %>
<%end%>

  
      <%= form_tag(pega_peca_path, method: :get, :remote => true) do %>
          <div class="form-inline"> 
          <%= label_tag :nome %>
          <%= text_field_tag :nome_p %>
          <%= submit_tag "Encontrar"%>
          </div>
          <% end %>
          
      <%= form_tag inclui_peca_path do%>

      <div class="row">
      <div class="span11"> 


        <table id="table_orc_pecas" class="table table-hover">
          <thead>
            <tr>
              <th class="span3">Nome</th>
              <th class="span3">Tipo</th>
              <th class="span3">Fabricante</th>
              <th class="span2">Preço</th>
              <th class="span2">Selecione</th>
            </tr>
          </thead>

          <tbody>
        

       </tbody>
      
        </table>
      </div>      
  </div>


 </div>
  <div class="modal-footer">
  <div class="form-inline">
    <%if @current_user.cargo == "mecanico"%>

    <%else%>
    <%= label_tag :Quantidade %>
    <%= text_field_tag :quantidade, "0.0"%>

    <%= label_tag :Preco %>
    <%= text_field_tag :preco_o,"0.0"%>
    <%end%>
      <%= submit_tag "Ok", class:"btn btn-primary"%>
    </div>
  </div>
  <%end%>
</div>