<%= form_with(model: fornecedor, local: true) do |form| %>
  <% if fornecedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fornecedor.errors.count, "error") %> prohibited this fornecedor from being saved:</h2>

      <ul>
      <% fornecedor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome_fornecedor %>
    <%= form.text_field :nome_fornecedor, id: :fornecedor_nome_fornecedor %>
  </div>

  <div class="field">
    <%= form.label :ramo %>
    <%= form.text_field :ramo, id: :fornecedor_ramo %>
  </div>

  <div class="field">
    <%= form.label :vendedor %>
    <%= form.text_field :vendedor, id: :fornecedor_vendedor %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, id: :fornecedor_telefone %>
  </div>

  <div class="form-group">
    <label>CEP</label>
    <%= form.text_field :cep, id: :fornecedor_cep %>
  </div>

  <div class="form-group">
    <%= form.label :rua %>
    <%= form.text_field :rua, id: :fornecedor_rua %>
  </div>
  
  <div class="form-group">
    <%= form.label :número %>
    <%= form.text_field :numero, id: :fornecedor_numero %>
  </div>

  <div class="form-group">
    <%= form.label :bairro %>
    <%= form.text_field :bairro, id: :fornecedor_bairro %>
  </div>

  <div class="form-group">
    <%= form.label :cidade %>
    <%= form.text_field :cidade, id: :fornecedor_cidade %>
  </div>

  <div class="form-group">
    <label>UF</label>
    <%= form.text_field :uf, id: :fornecedor_uf %>
  </div>

  <div class="form-group">
    <%= form.label :complemento %>
    <%= form.text_field :complemento, id: :fornecedor_complemento %>
  </div>

  <div class="actions">
    <%= form.submit "Cadastrar", class:"btn btn-primary"%>
  </div>
<% end %>
