<% if logged_in? %>
<%end%>
  <%if @current_user.cargo == "mecanico"%>
    <% pecas_orc.each do |peca| %>
                <tr>
                <td class="span3"><%= peca.nome %></td>
                <td class="span3"><%= peca.modelo_carro %></td>
                <td class="span3"><%= peca.fornecedor.nome_fornecedor %></td>
                <td class="span2"><%= radio_button_tag :peca_id, peca.id %></td>
              </tr>
   <% end %>
  <%else%>
    <% pecas_orc.each do |peca| %>
                <tr>
                <td class="span2"><%= peca.nome %></td>
                <td class="span3"><%= peca.modelo_carro %></td>
                <td class="span2"><%= peca.ano %></td>
                <td class="span2"><%= peca.fornecedor.nome_fornecedor %></td>
                <td class="span2">R$<%= peca.preco %></td>
                <td class="span2"><%= radio_button_tag :peca_id, peca.id %></td>
              </tr>
   <% end %>
  <%end%>
