<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @peca.nome %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @peca.tipo %>
</p>

<p>
  <strong>Fabricante:</strong>
  <%= @peca.fabricante %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @peca.preco %>
</p>

<%= link_to 'Editar', edit_peca_path(@peca) %> |
<%= link_to 'Voltar', pecas_path, data: { keybinding: 'q' }%>
