<p id="notice"><%= notice %></p>

<!-- Infos de orcamento cliente e veiculo -->
<div class="span16">
<div class="seta_user">

  <% if logged_in? %>
    <%end%>
  <%if @orcamento.user_id == 0%>
    <%if @current_user.cargo == "mecanico"%>
    <h3> Voce é o responsavel por este orçamento?
    <%= link_to 'Click Aqui', seta_user_path(@orcamento), method: :post %></h3>
    <%end%>
    <%else%>
    <div class="form-inline margin_form_g">
    Mecanico Responsavel:
    <span class="input-large uneditable-input"><%=@orcamento.user.nome%></span>
    </div>
  <%end%>
</div>

<div class="row">
<div class="span14">
<div class="form-inline margin_form">
<% if @orcamento.cliente.cliente_f != nil %>
Nome:
<span class="input-large uneditable-input"><%=@orcamento.cliente.cliente_f.nome%></span>
<%else%>
Razao Social:
<span class="input-large uneditable-input"><%=@orcamento.cliente.cliente_j.razao_social%></span>
<%end%>
Telefone:
<span class="input-large uneditable-input"><%=@orcamento.cliente.telefone%></span>
Celular:
<span class="input-large uneditable-input"><%=@orcamento.cliente.celular%></span>
</div>

<div class="form-inline margin_form">
Placa:
<span class="input-large uneditable-input"> <%=@orcamento.veiculo.placa%> </span>
Marca:
<span class="input-large uneditable-input"><%=@orcamento.veiculo.marca%></span>
Modelo:
<span class="input-large uneditable-input"><%=@orcamento.veiculo.modelo%></span>
</div>

<div class="form-inline margin_form">Status
<span class="input-large uneditable-input"><%= @orcamento.status %></span>
Quilometragem:
<span class="input-large uneditable-input"><%= @orcamento.quilometragem %></span>
</div>

</div>
</div>

<div id="modal">
<%= render 'orcamentos/modal/modal_pecaOrc', pecas_orc: @pecas_orc %>
<%= render 'orcamentos/modal/modal_servicoOrc', pecas_orc: @pecas_orc %>
</div>

<div id="edit">

</div>


<div class="row">
  <div class="box pattern pattern-sandstone">

    <div class="box-header">
       <i class="icon-table"></i>
        <h5>
        Pré Orçamento
        </h5>
    </div>
    <div class="box-content">
        <div class="row">
            <div class="span14">
              <%= form_tag(inclui_pre_peca_path, method: :get, :remote => true) do %>
                  <div class="form-inline">
                  <%= label_tag :Descricao %>
                  <%= text_field_tag :descricao %>
                  <%= label_tag :Valor  %>
                  <%= text_field_tag :valor %>
                  <%= submit_tag "Incluir"%>
                  </div>
                  <% end %>

                  <table id="pre_orc" class="table table-hover">
                    <thead>
                      <tr>
                        <th class="span6">Descriçao</th>
                        <th class="span3">Valor</th>
                        <th class="span6"></th>
                      </tr>
                    </thead>
                    <%@somapre2 = 0.0%>
                    <%somapre = 0.0%>
                    <tbody>
                      <% @busca_pre_orc.each do |pre| %>
                                  <tr>
                                    <%somapre += pre.valor%>
                                  <td class="span6"><%= pre.descricao %></td>
                                  <td class="span3"><%= pre.valor %></td>
                                  <td class="span6"><%= link_to 'Deletar', delete_pre_orc_path(pre), method: :delete, class:"btn btn-danger", data: { confirm: 'Tem certeza?' } %></td>
                                </tr>
                      <% end %>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    <div class="box-footer">
      <div id="valor_total_pre" class="span4"> <h3>Valor Total:R$ <%=somapre%></h3> </div>
      <div class="span3">
      <%= link_to report_pre_orc_path(@orcamento, :format => 'pdf'),:target => '_blank', class:"btn btn-large" do %>
      <i class="icon-print icon-large"></i>
      Imprimir
      <%end%>
    </div>
    </div>
  </div>
</div>


<!--tabela de PECA ORC-->

<div class="row">
  <div class="box pattern pattern-sandstone">

    <div class="box-header">
       <i class="icon-table"></i>
        <h5>
        Relação de Peças
        </h5>
    </div>

    <div class="box-content">
    <div class="row">
      <div class="span14">
      <table class="table table-hover">
          <thead>
            <tr>
              <th class="span3">Nome</th>
              <th class="span3">Preço</th>
              <th class="span3">Quantidade</th>
              <th class="span2">Preço Total</th>
              <th class="span4"></th>
            </tr>
          </thead>
          <%sumP = 0.0%>

          <tbody>
          <%if @current_user.cargo == "mecanico"%>
              <% @orcamento.peca_orc.each do |peca_orc| %>
                <tr>
                <%sumP += peca_orc.preco_o * peca_orc.quantidade%>
                <td class="span5"><%= peca_orc.peca.nome %></td>
                <td class="span5"><%= peca_orc.quantidade %></td>
                <td class="span4">
                <%= link_to 'Editar', edit_peca_orc_path(peca_orc), :remote => true %>
                <%= link_to 'Deletar', peca_orc, method: :delete, class:"btn btn-danger", data: { confirm: 'Tem certeza?' }  %></td>
              </tr>
              <%end%>

              <%else%>
              <% @orcamento.peca_orc.each do |peca_orc| %>
                <tr>
                <%sumP += peca_orc.preco_o * peca_orc.quantidade%>
                <td class="span3"><%= peca_orc.peca.nome %></td>
                <td class="span3">R$<%= peca_orc.preco_o %></td>
                <td class="span3"><%= peca_orc.quantidade %></td>
                <td class="span2">R$<%= peca_orc.preco_o * peca_orc.quantidade%></td>
                <td class="span4">
                <%= link_to 'Editar', edit_peca_orc_path(peca_orc), :remote => true, class:"btn btn-default" %>
                <%= link_to 'Deletar', peca_orc, method: :delete, class:"btn btn-danger", data: { confirm: 'Tem certeza?' } %></td>
              </tr>
              <%end%>

              <%end%>

          </tbody>
        </table>
        </div>
        </div>
    </div>
    <div class="box-footer">
      <button type="button" id="bt" class="btn btn-info btn-lg" data-backdrop="static" data-toggle="modal" data-target="#modalPeca">Relacionar Peças</button>
    </div>
  </div>
</div>


<div class="row">
  <div class="box pattern pattern-sandstone">

    <div class="box-header">
       <i class="icon-table"></i>
        <h5>
        Relação de Serviço
        </h5>
    </div>

    <div class="box-content">
    <div class="row">
      <div class="span14">
      <table class="table table-hover">
          <thead>
            <tr>
              <th class="span3">Nome</th>
              <th class="span3">Preço</th>
              <th class="span4"></th>
              <th class="span5"></th>
            </tr>
          </thead>
          <%sumS = 0.0%>
          <tbody>
            <%if @current_user.cargo == "mecanico"%>
              <% @orcamento.servico_orc.each do |servico_orc| %>
                <tr>
                <%sumS += servico_orc.preco_s%>
                <td class="span3"><%= servico_orc.servico.nome %></td>
                <td class="span4"></td>
                <td class="span4"><%= link_to 'Deletar', delete_serv_path(servico_orc), method: :delete, data: { confirm: 'Tem certeza?' } %></td>
              </tr>
              <%end%>
            <%else%>
              <% @orcamento.servico_orc.each do |servico_orc| %>
                <tr>
                <%sumS += servico_orc.preco_s%>
                <td class="span3"><%= servico_orc.servico.nome %></td>
                <td class="span3">R$<%= servico_orc.preco_s %></td>
                <td class="span4"></td>
                <td class="span5">
                <%= link_to 'Editar', edit_serv_orc_path(servico_orc), :remote => true %>
                <%= link_to 'Deletar', delete_serv_path(servico_orc), method: :delete, data: { confirm: 'Tem certeza?' } %></td>
              </tr>
              <%end%>
            <%end%>
          </tbody>
        </table>
        </div>
        </div>
    </div>
    <div class="box-footer">
      <button type="button" id="bt" class="btn btn-info btn-lg" data-backdrop="static" data-toggle="modal" data-target="#modalServico">Relacionar Serviços</button>
    </div>
  </div>
</div>


<div class="row">
<div class="span4">
    <p>
      <strong>Ocorrência:</strong>
      <%= @orcamento.ocorrencia %>
    </p>
    <%=link_to status_orcamento_js_path(@orcamento), :remote => true, class:"btn btn-large" do %>
    <i class="icon-random icon-large"></i>
    Troca Status
    <%end%>

    <%= link_to report_orc_path(@orcamento, :format => 'pdf'),:target => '_blank', class:"btn btn-large" do %>
    <i class="icon-print icon-large"></i>
    Imprimir
    <%end%>

</div>

 <div class="row span6">
  <div class="field">
  <%= form_tag(seta_desc_path(@orcamento), method: :get, :remote => true) do %>
    <%= label_tag "Diagnóstico" %>
    <%= text_area_tag :diagnostico, @orcamento.diagnostico, cols: 40, rows: 5, class:"estilotextarea" %>
    <%= label_tag "Serviço Executado" %>
    <%= text_area_tag :execucao, @orcamento.execucao, cols: 40, rows: 5, class:"estilotextarea" %>
    <%= submit_tag "Salvar",class:"btn btn-large" %>
    <%end%>
  </div>
</div>

  <div class="span5">
      <%if @current_user.cargo != "mecanico"%>
    <h4>Valor Peças:R$ <%=sumP%></h4>
    <h4>Valor Serviços:R$ <%=sumS%></h4>
    <h3>Valor Total:R$ <%=@orcamento.valor_total%></h3>
    <%end%>
  </div>
</div>

</div>



</div>
