<div class="span16">
<p id="notice"><%= notice %></p>
<%= link_to 'Novo Veículo', new_veiculo_path, class:"btn btn-primary margin_form" %>

<div class="box pattern pattern-sandstone">

    <div class="box-header">
       <i class="icon-table"></i>
        <h5>
        Veículo
        </h5>
    </div>

    <div class="box-content">
    <div class="row">
    <div class="span15">

<%= form_tag(pega_veiculo_path, method: :get, :remote => true) do %>
          <div class="form-inline">
           <%= select(:veiculo, :op, [ 'Placa', 'Marca', 'Modelo']) %> 
          <%= label_tag :nome %>
          <%= text_field_tag :nome_c %>
          <%= submit_tag "Encontrar"%>
          </div>
<% end %>

<table id="table_veiculo">
  <thead>
    <tr>
      <th class="span3">Placa</th>
      <th class="span3">Marca</th>
      <th class="span3">Modelo</th>
      <th class="span3">Ano</th>
      <th class="span3">Cor</th>
      <th class="span5"></th>
    </tr>
  </thead>

  <tbody>
    
  </tbody>
</table>
</div>
</div>
</div>
</div>

</div>