  <% clientes.each do |cliente| %>
      <tr>
        <td class="span3"><%= cliente.cliente_f.nome %> <%= cliente.cliente_f.sobrenome %></td>  
        <td class="span3"><%= cliente.telefone %></td>
        <td class="span3"><%= cliente.celular %></td>
        <td class="span3"><%= cliente.email %></td>
        <td class="span3"><%= cliente.observacoes %>
        <td class="span3"><%= radio_button_tag :cliente_id, cliente.id %></td>
      </tr>
    <% end %>