     <div class="row">
     <div class="span6">

     <h2>Oficina Continental</h2>
     
     </div>
  <div class="span3 offset2">
  	<h3>4177-1663</h3>
  	<h3>4238-2020</h3>
  </div>
     	
     </div>

     <hr>

     <div class="row">
<div class="span14">
<div class="form-inline">
Nome:
<span class="input-large uneditable-input"><%=@orcamento.cliente.nome%></span>
Telefone:
<span class="input-large uneditable-input"><%=@orcamento.cliente.telefone%></span>
Celular:
<span class="input-large uneditable-input"><%=@orcamento.cliente.celular%></span>
</div>
<div class="form-inline">
Placa:
<span class="input-large uneditable-input"> <%=@orcamento.veiculo.placa%> </span>
Marca:
<span class="input-large uneditable-input"><%=@orcamento.veiculo.marca%></span>
Modelo:
<span class="input-large uneditable-input"><%=@orcamento.veiculo.modelo%></span>
</div>
</div>
</div>