<% if logged_in? %>
<%end%>
  <%if @current_user.cargo == "mecanico"%>
    <% pecas.each do |peca| %>
        <tr>
        <td class="span3"><%= peca.nome %></td>
        <td class="span3"><%= peca.tipo %></td>
        <td class="span3"><%= peca.fabricante %></td>
        <td class="span3"><%= peca.marca_carro %></td>
        <td class="span3">
        <%= link_to 'Editar', edit_peca_path(peca), class:"btn btn-small btn-default" %>
        <%= link_to 'Deletar', peca, method: :delete, class:"btn btn-small btn-danger" %></td>
      </tr>
    <% end %>
  <%else%>
     <% pecas.each do |peca| %>
        <tr>
        <td class="span3"><%= peca.nome %></td>
        <td class="span3"><%= peca.marca_carro %></td>
        <td class="span3"><%= peca.modelo_carro %></td>
        <td class="span3"><%= peca.fornecedor.nome_fornecedor%></td>
        <td class="span3"><%= peca.preco %></td>
        <td class="span3">
        <%= link_to 'Editar', edit_peca_path(peca), class:"btn btn-small btn-default" %>
        <%= link_to 'Deletar', peca, method: :delete, class:"btn btn-small btn-danger" %></td>
      </tr>
    <% end %>
  <%end%>
