<div class="span16">
  <div class="row">
    <div class="box pattern pattern-sandstone">

      <div class="box-header">
         <i class="icon-table"></i>
          <h5>
          Busca personalisada
          </h5>
      </div>
      <div class="box-content">
          <div class="row">
              <div class="span14">
                <%= form_tag(busca_despesa_path, method: :get, :remote => true) do %>
                    <div class="form-inline">
                    <%#= label_tag :Fornecedores %>
                    <%#= text_field_tag :fornecedor %>
                    <%#= collection_select(:fornecedor, @fornecedors, :id, :busca_despesa, prompt: true) %>
                    <%= label_tag :DataIncio  %>
                    <%= text_field_tag :datai %>
                    <%= label_tag :DataFinal %>
                    <%= text_field_tag :dataf %>
                    <%= submit_tag "Incluir"%>
                    </div>
                    <% end %>

                    <div id="despesa">
                    </div>

              </div>
          </div>
      </div>
      <div id="valor_total_pre" class="box-footer">
        <h3>Valor Total:R$ </h3>
      </div>
    </div>
  </div>

</div>
